@tailwind base;
@tailwind components;
@tailwind utilities;

.show {
  display: block;
}

.active {
  background-color: rgb(243 244 246);
  color: rgb(17 24 39);
}

.col-auto {
  grid-column: auto;
  max-width: min-content;
}

body {
  height: 100vh;
}
